h1{
    text-align: center;
}
h2{
    color:#1DCB;
}
body{
    background-color:#dbf6e9;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
hr{
    border-color:grey;
    border-style:none;
    border-top-style:dotted;
    border-width:5px;
    width:5%;
}
.join{
    position: absolute;
   right: 100px; 
}
.one{
    color:#1DCB;
}