h1{
    text-align: center;
    font-family: 'Dancing Script',cursive;
    font-size: 40px;
}
h2{
    color:#1DCB;
}
body{
    background-color:#dbf6e9;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:25px;}
hr{
    border-color:grey;
    border-style:none;
    border-top-style:dotted;
    border-width:5px;
    width:25px;
}
.join{
    position: absolute;
   right: 100px; 
}
.one{
    color:#1DCB;
}
div{
    text-align: center;
}
